.hide
{
    display: block;
}

ol
{
    color: chartreuse;
    font-family: monospace;
    background-color: chocolate;
}

ul
{
    color: chartreuse;
    font-family: monospace;
    background-color: chocolate;
}